body {margin: 0;}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #55534f;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul.topnav li a:hover:not(.active) {background-color:  #4CAF50;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

div.col-sm-2 {
    color: #ffffff;
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div.col-sm-4 {
    color: #ffffff;
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h6 {
    color: #ffffff;
    font-size: 9px;

}

h4 {
    color: #006400;

}


p.p-size {
    color:  #55534f;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;

}

p.footerp1 {
    font-size: 14px;
    color: #ffffff; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p.footerp2 {
    font-size: 14px;
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
